@media screen and (max-width: 1200px){

	.form-box {margin: 4em 0 0}

}

@media screen and (max-width: 720px){

	#footer .container.social, #footer .container.social .list {border:none;}

	.form-box {margin: 2em 0 0}

}

@media screen and (max-width: 469px){

	#footer .copyright {font-size: 0.8em}
	.form-row input.btn {font-size: 1.2em}
	.intro h1 {font-size: 1.5em}
	.intro h2 {font-size: 1em}
	.form-box {margin: 0}
}