@font-face {
    font-family: Cubano;
    src: url('../fonts/cubano.ttf');
}

a {color: inherit;}

h1, h2, h3, h4, h5, h6, .form-row input.btn {font-family: Cubano}
.form-row input.btn {border-radius: 5px; padding: .4em 1.2em}

#wrapper { 
    /*background: #333 fixed top center;*/
    background:url('../img/hooters-girls-1.jpg') no-repeat ;
}

/* ============================================= 		  BOOTSTRAP       ========================================================*/

.error {padding: 12px; line-height: 1 !important; margin-top: 6px;}
.bg-danger {background: #FFCCCC; /*#ff005e*/}
.dropdown-menu>li>a {color: #333 !important; text-shadow: none !important}
.fa {font-size: 1.3em}

/* ============================================= 		  HEADER       ========================================================*/

#menu ul li a {
	font-size: 1.2em; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; font-family: Cubano;
	color: rgb(255, 80, 0);
    padding: .5em 1em;
    text-shadow: 1px 1px #111;
}
.dropdown-menu {background: #efefef;	border-radius: 0; min-width: 180px}
.dropdown-menu li {float: none !important; color: #424343; padding:  8px 14px !important; font-size: 0.9em; text-shadow: none; background: #fff; font-weight: 600}
.dropdown-menu li a {font-family: 'Open Sans', sans-serif !important; font-size: 1em !important}

/* ============================================= 		  CONTENT       ========================================================*/

.intro {text-shadow: none; color: #391b0c}
.intro h2, .form-row input.btn {letter-spacing: 1px}
.form-box {background: rgba(255,255,255,.8); border: none; margin: 10em 0 0}
.form-box .bottom {background: transparent;}
.form-box .top {padding: 1.5em 0 0; background: transparent;}
.form-box .top h1, .form-box .top h2 {color: #391b0c}
.form-box .top span {color: #FF4C19}
.form-row label {font-weight: 500}
.container.section {margin-top: 4em}
.container.section .content {padding-top: 3em; }
.container.section .content, .container.section .content h1 {color: #391b0c;}
.container.section p {
	font-size: 1.3em;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.4px;
    max-width: 500px;
}

/* =============================================          FOOTER        =======================================================*/

#footer {text-align: left; color: #797373; padding: 1em 0 2em}
#footer .social, #footer .copyright {text-align: center}
#footer .social img {width: 80%}
#footer .container.social {margin: 0 auto; border-bottom: 1px solid #e6e6e6}
#footer .container.social .list {margin-top: 2em}
#footer .container.social .list a {margin-left: 2em}


